.numberCircle {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #666;
}

.numberCircle:before,
.numberCircle:after {
  content: '\200B';
  display: inline-block;
  line-height: 0px;
  padding-top: 50%;
  padding-bottom: 50%;
}

.numberCircle:before {
  padding-left: 8px;
}

.numberCircle:after {
  padding-right: 8px;
}

.audio-wrap {
  font-size: 3em;
}

.audio-wrap.audio-answer i {
  margin-left: .3em;
}

.audio-wrap i {
  cursor: pointer;
}

[data-audio="playing"].audio-wrap i {
  cursor: progress;
}

[data-audio="unplayable"].audio-wrap i {
  cursor: not-allowed;
}

/* custom icheck */
.form-check {
  padding-left: 2.5em;
}

.form-check .form-check-input {
  margin-left: -2em;
}

.form-check-input {
  width: 1.4em;
  height: 1.4em;
  border-width: 2px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

@media (max-width: 400px) {
  .navigation-of-question > .btn {
    font-size: 11px;
  }
}

.question-number > .number-header {
  z-index: 1;
}